@{
    ViewData["Title"] = "All Properties";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Properties</h2>
<hr />

<table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>2 BHK Flat</td>
            <td>Andheri</td>
            <td>₹ 75,00,000</td>
        </tr>

        <tr>
            <td>3 BHK Villa</td>
            <td>Thane</td>
            <td>₹ 1,20,00,000</td>
        </tr>
    </tbody>
</table>
