@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dashboard</h2>
<hr />

<div class="row mt-4">

    <div class="col-md-4">
        <div class="card shadow-sm p-3 text-center">
            <h5>Total Properties</h5>
            <h3>10</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm p-3 text-center">
            <h5>Active Listings</h5>
            <h3>8</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm p-3 text-center">
            <h5>Sold Properties</h5>
            <h3>2</h3>
        </div>
    </div>

</div>
